3D-Model/external-sources/
img/
Fotky/
Program/AndroidApp/build-WireleslyControlledRobotSwarm-Desktop_Qt_5_15_2_MSVC2015_64bit-Debug/
Program/AndroidApp/build-WireleslyControlledRobotSwarm-Android_Qt_5_15_2_Clang_Multi_Abi-Debug/
Program/ArduCam/ArducamESP32/
Video/
